<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/menu.ejs") %>
    <p>    name: <%=f %>
    </p>
    <p>surname: <%=i %>
    </p>
<p>my contacts :):<%=p %>
</p>
<p>about me: <%=m %>
</p>
<p>skills: <%=s %>
</p>
<p>languages: <%=l %>
</p>
    
    
    <img src="https://sun9-22.userapi.com/impf/u1GfXpi4Ge8tzjYwjIEfw9BxGx-xf9SC6kAFEw/gHg7jdOERzs.jpg?size=600x450&quality=96&sign=360145032f35413c90491bd258c17759&c_uniq_tag=hakstxq33z2WCW54L36ccE9tLNf5I04BTTIqLWuGrsU&type=album" width="500" alt="">
</body>
</html>